<form #todoform="ngForm" (ngSubmit)="onSubmit(todoform)">
    <div>
        <input name="title" [(ngModel)]="todo.title" type="text" id="title">
    </div>

    <div>
        <input name="description" [(ngModel)]="todo.description" type="text" id="description">
    </div>

    <div>
        <input name="dueDate" [(ngModel)]="todo.dueDate" type="date" id="due-date">
    </div>

    <div>
        <select name="categoryId" [(ngModel)]="todo.categoryId" id="category">
            <option value="1">studio</option>
            <option value="2">lavoro</option>
            <option value="3">divertimento</option>
        </select>
    </div>
    <button type="submit">Aggiungi alla To Do List</button>
</form>